.error {
  color: #e50914 !important;
}
.navbar {
  border: 0 !important;
  border-radius: 0 !important;
  background-color: #292f33 !important;
}
.nav > li > a {
  color: #ffffff !important;
  margin-bottom: 1px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  color: #55acee !important;
  background-color: #292f33 !important;
  border-bottom: 1px solid #ffffff !important;
  margin-bottom: 0px;
}
.searchBar {
  margin-bottom: 20px;
}
.badgesForum {
  float: right;
}
.message {
  min-height: 100px;
  border: 1px solid #ccd6dd;
  margin-bottom: 10px;
  padding: 0 !important;
}
.header-message {
  background-color: #ffffff;
  color: #55acee;
  height: 30px;
  border-bottom: 1px solid #ccd6dd;
  line-height: 2;
}
.header-message > span {
  margin-left: 10px;
}
.indexLoop {
  float: right;
  margin-right: 10px;
  color: #66757f;
}
.areaContenu {
  resize: vertical;
}
.body-message {
  margin: 10px;
  word-wrap: break-word;
  padding-bottom: 20px;
}
